.imagePizzas img{
    position: absolute;
    height: 100px ;
    width: 100px
}
.pizza{
    margin-left: 10px;
}
.pizzas{
    display: flex;
    gap: 30px;
    margin-bottom: 150px;
}
.ingredient{
    margin: 0px;
}
